@model IEnumerable<Harris.net.Models.BusinessContact>

@{
    ViewData["Title"] = "Business Contacts";
}

<h1>Business Contacts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BusinessContactFName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessContactLName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessContactEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessTel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessContactAddr1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessContactAddr2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessContactCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessContactPostcode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessContactFName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessContactLName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessContactEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessContactAddr1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessContactAddr2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessContactCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessContactPostcode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BusinessContactID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BusinessContactID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BusinessContactID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
