@model Harris.net.Models.PersonalContact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PersonalContact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalContactFName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalContactFName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalContactLName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalContactLName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalContactEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalContactEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalContactAddr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalContactAddr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalContactAddr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalContactAddr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalContactCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalContactCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalContactPostcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalContactPostcode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PersonalContactID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
